.facultybox{
    display: flex;
    flex-direction: column;
    height: 289px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 1rem;
    font-size: larger;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1.50rem;
    

}

.imgfac{
    background-color: rgb(255 255 255);

    width: 100%;
    height: 23px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 1rem;

}

.imgfac{
    width: 100%;
    height: 100%;
}

.detailsf{
    background-color: rgb(255 255 255);
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


