



.svgivideonandname{
  position: relative;
  height: 80vh;
}
.svgibacvideo{
  position: absolute;
  height: 100%;
  width: 100%;
}

.svginamecolor{
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}




.namesvgi{
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  background-clip: text;
  font-weight: 900;   
  height: 80vh;
  letter-spacing: 4px;
  overflow: hidden;
  background-image: url("https://i.pinimg.com/736x/ae/a3/53/aea353fb67af656213b4b4daef8492fb.jpg");
  background-size: 89%;
  animation: animate 5s linear infinite;
  font-size: 73px;
  padding: 4%;
  text-align: center;
  background-position: cover;
  display: grid;
  place-items:center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  z-index: 2;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


@media (max-width: 768px) {

  
.svgivideonandname{
  position: relative;
  height: 45vh;
}
  .namesvgi {
      
      font-size: 7.60vw;
      height: 100%;
     
  }

}





