/* Apply a CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  width: 100%;
}
body{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-top: 9vh;

}
/* Set up full viewport height for html, body, and div.app */

/* Ensure div#root takes 100% height */
/* Ensure div#root takes 100% height */
