/* Apply a CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
/* Set up full viewport height for html, body, and div.app */
html, body, div.app {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid red;
  padding-top: 2vh;

}

/* Ensure div#root takes 100% height */
/* Ensure div#root takes 100% height */
