/* Apply a CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up full viewport height for html, body, and div.app */
html, body, div.app {
  overflow-x: hidden;
  overflow-x: initial !important;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4vh;

}

/* Ensure div#root takes 100% height */

/* Styling for div.app */

.f{
  display: flex;
  justify-content: center;
  align-items: center;

}
.fc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}